Source: com.github.manexim.typewriter
Section: x11
Priority: optional
Maintainer: Marius Meisenzahl <mariusmeisenzahl@gmail.com>
Build-Depends: meson,
               debhelper (>= 9),
               libgtk-3-dev,
               libgranite-dev,
               libgtksourceview-3.0-dev,
               libhandy-1-dev,
               valac
Standards-Version: 3.9.3

Package: com.github.manexim.typewriter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Typewriter
 A minimal writer with autosave
